<li class="venue-picture" style="background-image:url({{photo}})">
	{{#if name}}
	<center>{{name}}</center><br>
	{{/if}}
	{{#if rating}}
	<img class="rating-icon" src="assets/1416274893_award_star_bronze_3.png">{{rating}}<br>
	{{/if}}
	{{#if price_level}}
	{{venuePriceDisplay price_level}}
	{{/if}}


</li>