<%= javascript_include_tag "controllers/pagesController" %>

<canvas id='landing-canvas'>
</canvas> 

<img class="logo" src="assets/logo1.png">

<div class="content">
	<ul id="sdt_menu" class="sdt_menu">
		<li>
			<a href="#">
				<img src="assets/image02.jpg" alt=""/>
				<span class="sdt_active"></span>
				<span class="sdt_wrap">
					<span class="sdt_link">Search</span>
					<span class="sdt_descr">Launch the PartyBot</span>
				</span>
			</a>
				<div class="sdt_box">
					<a href="#">Search form</a>
				</div>
		</li>
		<li>
			<a href="#">
				<img src="assets/image03.jpg" alt=""/>
				<span class="sdt_active"></span>
				<span class="sdt_wrap">
					<span class="sdt_link">Global PartyBot</span>
					<span class="sdt_descr">Hot Events</span>
				</span>
			</a>
		</li>
		<li>
			<a href="#">
				<img src="assets/image04.jpg" alt=""/>
				<span class="sdt_active"></span>
				<span class="sdt_wrap">
					<span class="sdt_link">Activate your Bot</span>
					<span class="sdt_descr">Login/Signup</span>
				</span>
			</a>
		</li>
		<li>
			<a href="#">
				<img src="assets/image12.jpg" alt=""/>
				<span class="sdt_active"></span>
				<span class="sdt_wrap">
					<span class="sdt_link">About the Bot</span>
					<span class="sdt_descr">Meet the PartyBot</span>
				</span>
			</a>
		</li>
	</ul>
</div>