<div id = 'search-box'>
<%= form_tag('/venues', :method => :get, :class => 'search') do %>

  <%= text_field_tag :search, params[:search], placeholder: "City" %>

  <div class="actions">
    <%= submit_tag 'Search', :name => nil %>
  </div>
<% end %>
</div>
