<%= form_tag('/venues', :method => :get, :class => 'search') do %>

  <%= text_field_tag :city_name, nil, placeholder: "City" %>

  <div class="actions">
    <%= submit_tag ('Search', :name => nil) %>
  </div>
<% end %>
