<%= javascript_include_tag "controllers/mapController" %>
  
<div id="map-canvas">i'm here</div>


<%= render partial: 'search_form' %>


<table class="venues">
  <tr class="venue_display">
    <th class="venue"></th>
  </tr>
</table>
