<%= javascript_include_tag "controllers/mapController" %>

  
<div id="map-canvas">i'm here</div>


<%= render partial: 'search_form' %>


<div class = "venues_display">
  <ul class = "venue_display">
<!--   	<li>
      <div class="inner">
      	Hello
      </div>
     </li> -->
 <!--    <li>
      <div class="inner">
      	Hello
      </div>
    </li>
  	<li>
      <div class="inner">
      	Hello
      </div>
    </li>
  	<li>
      <div class="inner">
      	Hello
      </div>
   	</li>
  	<li>
      <div class="inner">
      	Hello
      </div>
     </li>
    <li>
      <div class="inner">
      	Hello
      </div>
    </li>
  	<li>
      <div class="inner">
      	Hello
      </div>
    </li>
  	<li>
      <div class="inner">
      	Hello
      </div>
   	</li>
  	<li>
      <div class="inner">
      	Hello
      </div>
     </li>
    <li>
      <div class="inner">
      	Hello
      </div>
    </li>
  	<li>
      <div class="inner">
      	Hello
      </div>
    </li>
  	<li>
      <div class="inner">
      	Hello
      </div>
   	</li>
  	<li>
      <div class="inner">
      	Hello
      </div>
     </li>
    <li>
      <div class="inner">
      	Hello
      </div>
    </li>
  	<li>
      <div class="inner">
      	Hello
      </div>
    </li>
  	<li>
      <div class="inner">
      	Hello
      </div>
   	</li>
  	<li>
      <div class="inner">
      	Hello
      </div>
     </li>
    <li>
      <div class="inner">
      	Hello
      </div>
    </li>
  	<li>
      <div class="inner">
      	Hello
      </div>
    </li>
  	<li>
      <div class="inner">
      	Hello
      </div>
   	</li>
    <li>
      <div class="inner">
      	Hello
      </div>
    </li>
  	<li>
      <div class="inner">
      	Hello
      </div>
    </li>
  	<li>
      <div class="inner">
      	Hello
      </div>
   	</li>
  	<li>
      <div class="inner">
      	Hello
      </div>
     </li>
    <li>
      <div class="inner">
      	Hello
      </div>
    </li>
  	<li>
      <div class="inner">
      	Hello
      </div>
    </li>
  	<li>
      <div class="inner">
      	Hello
      </div>
   	</li> -->
  </ul>
</div>
