#landing-canvas {
	height:100%;
  width:100%;
  position: absolute;
  top: 0;
  opacity: 0.7
}

.logo {
	z-index: 1;
	/*position: fixed;*/
	/*left:500px;*/
	/*bottom:650px;*/
}

/*Landing Page Menu style*/
span.reference{
	position:fixed;
	left:10px;
	bottom:10px;
	font-size:12px;
}
span.reference a{
	color:#aaa;
	text-transform:uppercase;
	text-decoration:none;
	text-shadow:1px 1px 1px #000;
	margin-right:30px;
}
span.reference a:hover{
	color:#ddd;
}
ul.sdt_menu{
	margin-top:200px;
	margin-left: auto;
}

ul.sdt_menu{
	/*margin:0;*/
	padding:0;
	list-style: none;
	font-family:"Myriad Pro", "Trebuchet MS", sans-serif;
	font-size:14px;
	width:1020px;
}
ul.sdt_menu a{
	text-decoration:none;
	outline:none;
}
ul.sdt_menu li{
	float:left;
	width:170px;
	height:100px;
	position:relative;
	cursor:pointer;
}
ul.sdt_menu li > a{
	position:absolute;
	top:0px;
	left:0px;
	width:170px;
	height:100px;
	z-index:12;
	background:transparent url(overlay.png) no-repeat bottom right;
	-moz-box-shadow:0px 0px 2px #000 inset;
	-webkit-box-shadow:0px 0px 2px #000 inset;
	box-shadow:0px 0px 2px #000 inset;
}
ul.sdt_menu li a img{
	border:none;
	position:absolute;
	width:0px;
	height:0px;
	bottom:0px;
	left:85px;
	z-index:100;
	-moz-box-shadow:0px 0px 4px #000;
	-webkit-box-shadow:0px 0px 4px #000;
	box-shadow:0px 0px 4px #000;
}
ul.sdt_menu li span.sdt_wrap{
	position:absolute;
	top:25px;
	left:0px;
	width:170px;
	height:60px;
	z-index:15;
}
ul.sdt_menu li span.sdt_active{
	position:absolute;
	background:#111;
	top:85px;
	width:170px;
	height:0px;
	left:0px;
	z-index:14;
	-moz-box-shadow:0px 0px 4px #000 inset;
	-webkit-box-shadow:0px 0px 4px #000 inset;
	box-shadow:0px 0px 4px #000 inset;
}
ul.sdt_menu li span span.sdt_link,
ul.sdt_menu li span span.sdt_descr,
ul.sdt_menu li div.sdt_box a{
	margin-left:15px;
	text-transform:uppercase;
	text-shadow:1px 1px 1px #000;
}
ul.sdt_menu li span span.sdt_link{
	color:#fff;
	font-size:24px;
	float:left;
	clear:both;
}
ul.sdt_menu li span span.sdt_descr{
	color:#0B75AF;
	float:left;
	clear:both;
	width:155px; /*For dumbass IE7*/
	font-size:10px;
	letter-spacing:1px;
}
ul.sdt_menu li div.sdt_box{
	display:block;
	position:absolute;
	width:170px;
	overflow:hidden;
	height:155px;
	top:100px;
	left:0px;
	display:none;
	background:#000;
}
ul.sdt_menu li div.sdt_box a{
	float:left;
	clear:both;
	line-height:30px;
	color:#0B75AF;
}
ul.sdt_menu li div.sdt_box a:first-child{
	margin-top:15px;
}
ul.sdt_menu li div.sdt_box a:hover{
	color:#fff;
}

/* Map Page styling */
html, body, #map-canvas {
  height:100%;
  width:100%;
  margin: 0px;
  padding: 0px;
/*  position: absolute;
  top: 0;*/
}

/* Search box styling */
#search-box {
  color:white;
  width: 60%;
  max-width: 300px;
  position:absolute;
  background-color:rgba(0,0,0,0.5);
	top: 0px;
  left: 40%;
  z-index: 1;
  padding-right: 10px;
  border-radius:5px;
  box-shadow: 5px 8px 5px 0px rgba(0,0,0,0.75);
}

#my-location {
	position:absolute;
	z-index: 1;
	top: 0px;
	left: 20%
}

/* Table Styling for Venue display  */

/*.outer {
	background-color: white;
	position: absolute;
	z-index: 1;
	bottom: 0;
	width: 17%;
	height: 17%;
	left:1%;
}

.venue {
	border-style: solid;
}*/

.venues-display {
    width:100%;
    overflow:auto;
    white-space:nowrap;
    position: absolute;
		z-index: 1;
		bottom: 0.5%;
		left:0.5%;
		height: 21%;
		background-color: white;
		border-radius: 5px;
		border: solid;
		visibility: hidden;
}
.venues-display li {
    display: inline-block;
    /*display: inline;*/ /*For IE7*/
    /*zoom:1;For IE7*/
    vertical-align:bottom;
    width:130px;
    height: 130px;
    margin-right: 5px;
    background:white;
    white-space:normal;
    border: solid 1px;
    border-radius: 5px;


}

.venue-scroll-bar {
	margin-top: -10px;
}

li.venue-picture {
	background-repeat: no-repeat;
  background-position: center; 
  font-size: 11px;
}

img.rating-icon {
	width: 15px;
	height:auto;
}

.large-infobox {
	position: absolute;
	width: 50%;
	z-index: 1;
	bottom: 40%;
	left: 40%;
	background-color: white;
}

.hidden {
  display: none;
}

div.scroll {
	overflow: scroll;
}

img.open-close-icon{
	width: 50px;
	height: 50px;
}








